* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(90deg, rgb(135, 129, 214) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 90%, rgb(135, 129, 214) 100%) rgb(255, 255, 255);
  color: #fff;
}

.contenedor {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
}

/*BARRA DE NAVEGACION*/

nav {
  background: linear-gradient(90deg, rgb(135, 129, 214) 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 50%, rgb(0, 0, 0) 90%, rgb(135, 129, 214) 100%) rgb(255, 255, 255);;
  padding: 0 10%;
  position: sticky;
  top: 0;
}

nav ul {
  margin: 0;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

nav ul li {
  list-style: none;
  margin-right: 2rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  transition: all  500ms;
}

nav ul li a:hover {
  color: rgb(135, 129, 214);
}


/*SECCION SOBRE MI*/

.sobre-mi {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10%;
}

.sobre-mi h1 {
  text-align: center;
  font-size: 80px;
  padding-top: 100px;
}

.sobre-mi p{
  padding: 30px 10% 0;
  text-align: center;
}


