* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: '';
}

.nav-contenedor {
    padding: 0 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

nav {
    display: flex;
    width: 100%;
    background: gray;
    position: relative;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 15px 30px;
}

nav .logo {
    font-size: 25px;
    font-weight: 800;
    cursor: pointer;
    padding-bottom: 10px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: auto 0;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

.contenedor {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
}

/*SEARCH BAR*/

nav .search-bar {
    display: flex;
    align-items: center;
    margin: auto 0;
    height: 20px;
    position: relative;
}

nav .search-bar input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 35px 0 5px;
    position: relative;
}

nav .search-bar span {
    color: black;
    right: 10px;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}






